* {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
}
body {
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    animation: bgAnim 3s ease infinite;
    background-size: 500% 500%; /*интереснно*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes bgAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.back {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}
  
.back h1 {
    display: block;
    position: relative;
    color: #fff;
    font-size: 98px;
    animation: sx 2s ease;
}

.back button {
    position: relative;
    color: #fff;
    animation: sx 3s ease-in-out;
    background-color: rgb(255, 80, 0);
    border: none;
	display: block;
	cursor: pointer;
	font-size: 1.1rem;
    width: 50%;
    height: 70px;
	line-height: 70px;
    border-radius: 50px;
}


@keyframes sx {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0);
    }
}

a {
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    color: #fff;
    font-size: 1.5em;
}